<!-- Popover template -->
<template #popTemplate>
  <div class="popover-container" (click)="$event.stopPropagation()">
    <article>{{ helper.description }}</article>
    <div class="see-also">
      <div *ngIf="helper.articles.length">
        <h5><strong><span> Need more...</span></strong></h5>
        <ul class="list-unstyled see-also-list">
          <li *ngFor="let article of helper.articles; let key = index" class="see-also-item" (click)="goToArticle(key)">
            <a href="#">-{{article.label}}</a>
          </li>
        </ul>
      </div>
      <div *ngIf="helper.links.length">
        <h5><strong><span>Links</span></strong></h5>
        <ul class="list-unstyled see-also-list">
          <li *ngFor="let link of helper.links" class="see-also-item" (click)="goToLink(link)">
            <a href="#">-{{link.label}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<!-- app-help template -->
<i class="fa fa-question-circle-o help-icon"
   [ngbPopover]="popTemplate"
   [popoverTitle]="helper.label"
   (click)="$event.stopPropagation()"
   #p="ngbPopover"
   (document:click)="p.close()"
   data-placement="{{ placement ? placement : 'bottom' }}">
</i>
