<!-- Popover template -->
<template #popTemplate>
  <div class="popover-container" (click)="$event.stopPropagation()">
    <article class="popover-article">{{ helper?.description }}</article>
    <div class="see-also">
      <div *ngIf="helper?.articles.length">
        <h6><strong><span> Need more...</span></strong></h6>
        <ul class="list-unstyled see-also-list">
          <li *ngFor="let article of helper.articles; let key = index" class="see-also-item" (click)="goToArticle(key)">
            <div class="article-link">-{{article.label}}</div>
          </li>
        </ul>
      </div>
      <div *ngIf="helper?.links.length">
        <h6><strong><span>Links</span></strong></h6>
        <ul class="list-unstyled see-also-list">
          <li *ngFor="let link of helper.links" class="see-also-item" (click)="goToLink(link)">
            <div class="article-link">-{{link.label}}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<!-- app-help template -->
<i class="fa fa-question-circle-o help-icon"
   [ngbPopover]="popTemplate"
   [popoverTitle]="helper?.label"
   (click)="$event.stopPropagation()"
   #popover="ngbPopover"
   [placement]="getPlacement()"
   [ngClass]="{'on-dark': dark}">
</i>
